<ion-header>
  <ion-toolbar>
    <ion-title>
      My First App - Awesome!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  Great App!
  <p>Welcome to my new app developed using Ionic 4!</p>
  <ion-button expand="block" (click)="openMenu()">
    Show Action Sheet
  </ion-button>

  <ion-card>
    <ion-card-content fullscreen>
      <ion-card-header>
        <img src="./wisconsin.jpg"><img>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      I visited the capital of Wisconsin last year and I liked the city very much.
      During my visit I experienced:
    </ion-card-content>
    <ion-card-content>
      <ion-item>
        <ion-checkbox checked slot="start"></ion-checkbox>
        <ion-label>The Capitol Building</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="warning" checked slot="start"></ion-checkbox>
        <ion-label>Cheese curds</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
        <ion-label>The Great Dane Pub</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>